.title {
  font-family: cursive;
  font-size: 30px;
  color: rgb(164, 167, 40)
}

.hidden {
  display: none
}

.cards {
  top: 17px
}

#dropdownmenu {
  margin-left: 450px;
  margin-top: 100px;
}

.jumbotron {
  background-image: url("../images/banner.jpg");
  height: 180px;
  background-repeat: repeat-x}

  .formBorder, .page {
    padding: 2%;
    margin-top: 100px;
    border-radius: 25px;
    border: 3px solid rgb(6, 110, 60);
    background-color: rgb(255, 255, 255);
    margin-left:32%
  }

  .servicesHeader{
    color:rgb(33, 131, 131);
    font-size:80px;
    font-family: cursive
  }